.item-wrap{
    padding: 24px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    .logo {
        width: 40px !important;
        border-radius: 50%;
        object-fit: cover;
    }
    .desc-text{
        font-size: 14px;
    }
    .name-text{
        font-size: 12px;
    }
    .date-text{
        font-size: 12px;
        color: lightgray;
    }
    .checked{
        color: orange;
    }
}
:host::ng-deep {
    .owl-nav{
        .owl-prev{
            border-radius: 50% !important;
            background-color: #9400D3 !important;
            &.disabled{
                pointer-events: none;
                opacity: 0.25;
            }
        }.owl-next{
            border-radius: 50% !important;
            background-color: #9400D3 !important;
            &.disabled{
                pointer-events: none;
                opacity: 0.25;
            }
        }
    }
}